.data0.chart-pie { -fx-pie-color: #530073 ; }
.data1.chart-pie { -fx-pie-color: #260073; }
.data2.chart-pie { -fx-pie-color: #026096; }
.data3.chart-pie { -fx-pie-color: #04c1c4; }
.data4.chart-pie { -fx-pie-color: #04c490; }
.data5.chart-pie { -fx-pie-color: #04c424; }
.data6.chart-pie { -fx-pie-color: #8ce404; }
.data7.chart-pie { -fx-pie-color: #dde404; }
.data8.chart-pie { -fx-pie-color: #e4bf04; }
.data9.chart-pie { -fx-pie-color: #e48c04; }
.data10.chart-pie { -fx-pie-color: #e45504; }
.data11.chart-pie { -fx-pie-color: #e40404; }
